<div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Enter Pokémon name">
  <button (click)="searchPokemon()">Search</button>
</div>
<div *ngIf="pokemon">
  <h2>Pokémon Name: {{ pokemon.name }}</h2>
<div *ngIf="pokemon">
  <h1>Artwork</h1>

<ul >
  <li>Front
    <img src="{{ pokemon.sprites.front_default }}" alt="">

  </li>
  <li>Back
    <img src="{{ pokemon.sprites.back_default }}" alt="">

  </li>
</ul>
</div>
</div>
<div *ngIf="error">
  <p>{{ error }}</p>
  <h1>Não encontramos esse Pokemon !!!!</h1>
</div>
